<template>
  <div class="my-5">
    <template v-if="articleLoading">
      <p>Loading...</p>
    </template>
    <template v-else-if="!article">
      <p>Error!</p>
    </template>
    <template v-else>
      <article-title :title="article.title" />
      <article-description :body="article.body" :tag-list="article.tagList" />
      <article-author
        :article="article"
        @updateAuthorFollowingValue="updateAuthorFollowingValue"
        @updateArticleFavoriteValue="updateArticleFavoriteValue"
      />
      <article-comments :articleSlug="$route.params.articleSlug" />
    </template>
  </div>
</template>

<script>
import ArticleTitle from "@/components/article/ArticleTitle";
import ArticleDescription from "@/components/article/ArticleDescription";
import ArticleAuthor from "@/components/article/ArticleAuthor";
import ArticleComments from "@/components/article/ArticleComments";

export default {
  name: "ArticleView",

  components: {
    ArticleTitle,
    ArticleDescription,
    ArticleAuthor,
    ArticleComments,
  },

  data: () => ({
    article: null,
    articleLoading: true,
  }),

  mounted() {
    this.fetchArticle();
  },

  methods: {
    fetchArticle() {
      this.axios.get(`articles/${this.$route.params.articleSlug}`).then(
        (res) => {
          this.article = res.data.article;
          this.articleLoading = false;
        },
        (e) => {
          console.log(e);
          this.articleLoading = false;
        }
      );
    },

    updateAuthorFollowingValue(following) {
      this.$set(this.article.author, "following", following);
    },

    updateArticleFavoriteValue(updatedArticle) {
      this.$set(this.article, "favorited", updatedArticle.favorited);
      this.$set(this.article, "favoritesCount", updatedArticle.favoritesCount);
    },
  },
};
</script>
