<template>
  <div class="w-full rounded-t-md my-5">
    <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">
      Create new article
    </h2>
    <div class="border border-gray-700 p-5">
      <div class="flex flex-col md:flex-row items-center w-full mb-3">
        <div class="w-full md:w-1/2 md:pr-2 mb-3 md:mb-0">
          <label>Article ttitle</label>
          <input type="text" class="input mt-2" v-model="article.title" />
        </div>
        <div class="w-full md:w-1/2 md:pl-2">
          <label>What's this article about?</label>
          <input type="text" class="input mt-2" v-model="article.description" />
        </div>
      </div>
      <div class="w-full mb-3">
        <label>Write your article (in markdown)</label>
        <textarea
          rows="6"
          class="w-full bg-primary border border-gray-700 rounded-md mt-2 p-2"
          v-model="article.body"
        />
      </div>
      <div class="w-full mb-3">
        <label>Enter tags</label>
        <input type="text" class="input mt-2" v-model="tags" />
      </div>
      <div class="flex items-center justify-end w-full">
        <template>
          <button
            v-if="publishValidation"
            class="btn text-sm w-full md:w-44 border-2 border-secondary hover:bg-secondary"
            @click="publishArticle"
          >
            publish article
          </button>
          <button
            v-else
            class="btn text-sm w-full md:w-44 border border-gray-700 text-gray-500 cursor-not-allowed"
            disabled
          >
            publish article
          </button>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CreateArticle",

  data: () => ({
    article: {
      body: "",
      description: "",
      tagList: [],
      title: "",
    },
    tags: "",
  }),

  computed: {
    publishValidation() {
      return (
        this.article.body &&
        this.article.description &&
        this.article.title &&
        this.tags
      );
    },
  },

  methods: {
    publishArticle() {
      this.article.tagList = this.tags.split(" ");
      this.$toast.info("Publishing...", { duration: 10000 });
      this.axios.post("articles", { article: this.article }).then(
        () => {
          this.$toast.clear();
          this.$toast.success("Article published");
        },
        (e) => {
          this.$toast.error(e.message);
        }
      );
    },
  },
};
</script>
