<template>
  <div class="w-full rounded-t-md">
    <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">Title</h2>
    <div class="border border-gray-700 p-5">
      <p>
        {{ title }}
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "ArticleTitle",

  props: {
    title: {
      type: String,
      required: true,
    },
  },
};
</script>
