<template>
  <div class="w-full rounded-t-md mt-5">
    <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">Body</h2>
    <div class="border border-gray-700 p-5">
      <div>
        <p class="mb-5">
          {{ body }}
        </p>
        <div class="w-full flex items-center flex-wrap text-sm">
          <p
            v-for="(tag, i) in tagList"
            :key="i"
            class="rounded-full py-1 px-3 border border-gray-700 mr-1"
          >
            {{ tag }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ArticleDescription",

  props: {
    body: {
      type: String,
      required: true,
    },
    tagList: {
      type: Array,
      required: true,
    },
  },
};
</script>
