<template>
  <div>
    <!-- Write a comment -->
    <section class="w-full rounded-t-md border border-gray-700">
      <div class="flex items-center justify-between w-full bg-gray-700">
        <h2 class="w-1/2 font-bold rounded-t-md p-2">Write a comment</h2>
      </div>
      <div class="p-5">
        <div class="w-full">
          <label>Write your comment</label>
          <textarea
            rows="4"
            class="w-full rounded-md bg-primary border border-gray-700 p-2 mt-3"
            v-model="comment.body"
          />
        </div>
        <div class="w-full flex items-center justify-end mt-5">
          <button
            class="btn border-2 border-secondary hover:bg-secondary text-xs w-full md:w-32 mr-3"
            @click="postComment"
          >
            Post comment
          </button>
        </div>
      </div>
    </section>
    <!-- Comments -->
    <section class="w-full rounded-t-md mt-5">
      <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">Comments</h2>
      <div class="border border-gray-700 p-2 md:p-5">
        <article
          v-for="(comment, i) in comments"
          :key="i"
          :class="{ 'border-b border-gray-700': i + 1 !== comments.length }"
          class="flex flex-col justify-between p-3 m-2 md:m-5"
        >
          <section class="flex items-center justify-between mb-5">
            <div class="flex items-center">
              <img
                :src="comment.author.image"
                alt="author image"
                class="rounded-full w-10 h-10 mr-2"
              />
              <div>
                <p class="text-sm text-bold">{{ comment.author.username }}</p>
                <p class="text-sm text-gray-600">
                  {{ formatDate(comment.createdAt) }}
                </p>
              </div>
            </div>
          </section>
          <section class="mb-5">
            <p>
              {{ comment.body }}
            </p>
          </section>
        </article>
      </div>
    </section>
  </div>
</template>

<script>
import formatDateMixin from "@/mixin/formatDate";

export default {
  name: "ArticleComments",

  mixins: [formatDateMixin],

  props: {
    articleSlug: {
      type: String,
      required: true,
    },
  },

  data: () => ({
    comment: { body: "" },
    comments: [],
  }),

  mounted() {
    this.fetchArticleComments();
  },

  methods: {
    fetchArticleComments() {
      this.axios.get(`articles/${this.articleSlug}/comments`).then(
        (res) => {
          this.comments = res.data.comments.sort((a, b) =>
            this.moment(b.createdAt).diff(this.moment(a.createdAt), "minutes")
          );
        },
        (e) => {
          console.log(e);
        }
      );
    },

    postComment() {
      this.$toast.info("Posting...", { duration: 10000 });
      this.axios
        .post(`articles/${this.articleSlug}/comments`, {
          comment: this.comment,
        })
        .then(
          (res) => {
            this.$toast.clear();
            this.comment.body = "";
            this.comments.unshift(res.data.comment);
            this.$toast.success("Your comment posted");
          },
          (e) => {
            this.$toast.clear();
            this.$toast.error(e.message);
          }
        );
    },
  },
};
</script>
