<template>
  <div class="w-full flex flex-col lg:flex-row mt-5">
    <div class="w-full rounded-t-md border border-gray-700 mb-5">
      <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">Author</h2>
      <div class="flex items-center justify-between p-5">
        <div
          class="w-full flex flex-col md:flex-row md:items-center md:justify-between md:pr-3"
        >
          <div class="w-full md:w-3/5 flex items-center">
            <img
              :src="article.author.image"
              alt="author image"
              class="rounded-full w-16 h-16 md:w-20 md:h-20 xl:w-28 xl:h-28"
            />
            <div class="ml-4">
              <h3 class="text-lg lg:xl xl:text-2xl text-bold">
                {{ article.author.username }}
              </h3>
              <h3 class="text-gray-500 text-sm lg:text-base">
                {{ formatDate(article.createdAt) }}
              </h3>
            </div>
          </div>
          <div class="w-full md:w-1/5 text-xs mt-5 md:mt-0">
            <template>
              <button
                v-if="article.author.following"
                class="btn w-full bg-secondary mb-4 flex items-center justify-center"
                @click="unFollowAuthor"
              >
                <mdicon name="minus" size="15" class="mr-1" />
                <span>unfollow</span>
              </button>
              <button
                v-else
                class="btn w-full border-2 border-secondary hover:bg-secondary mb-4 flex items-center justify-center"
                @click="followAuthor"
              >
                <mdicon name="plus" size="15" class="mr-1" />
                <span>follow</span>
              </button>
            </template>

            <template>
              <button
                v-if="article.favorited"
                class="btn w-full bg-secondary mt-4 flex items-center justify-center"
                @click="unFavoriteArticle(article.slug)"
              >
                <mdicon name="heart" size="15" class="mr-1" />
                <span>Unfavorite ({{ article.favoritesCount }}) </span>
              </button>
              <button
                v-else
                class="btn w-full border-2 border-secondary hover:bg-secondary mt-4 flex items-center justify-center"
                @click="favoriteArticle(article.slug)"
              >
                <mdicon name="heart-outline" size="15" class="mr-1" />
                <span>Favorite ({{ article.favoritesCount }}) </span>
              </button>
            </template>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import articleFavoriteMixin from "@/mixin/favoriteArticle";
import formatDateMixin from "@/mixin/formatDate";

export default {
  name: "ArticleAuthor",

  mixins: [articleFavoriteMixin, formatDateMixin],

  props: {
    article: {
      type: Object,
      required: true,
    },
  },

  methods: {
    followAuthor() {
      this.axios
        .post(`profiles/${this.article.author.username}/follow`)
        .then((res) => {
          this.updateAuthorFollowingValue(res.data.profile.following);
        });
    },

    unFollowAuthor() {
      this.axios
        .delete(`profiles/${this.article.author.username}/follow`)
        .then((res) => {
          this.updateAuthorFollowingValue(res.data.profile.following);
        });
    },

    updateAuthorFollowingValue(following) {
      this.$emit("updateAuthorFollowingValue", following);
    },
  },
};
</script>
