@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-color: #1d1e30;
  --secondary-color: #e72222c2;
}

body {
  background: var(--primary-color);
  color: rgba(255, 255, 255, 0.801);
}

.btn {
  font-weight: 700;
  padding: 0.4rem 0 0.4rem 0;
  border-radius: 50px;
  text-transform: uppercase;
}
.input {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 15px;
  padding-left: 15px;
  border-radius: 50px;
  border: 1px solid rgba(87, 87, 87, 0.801);
  background: var(--primary-color);
  outline: none;
}
textarea {
  resize: none;
  outline: none;
}