<template>
  <div class="w-full flex flex-col lg:flex-row items-start my-5">
    <div class="w-full lg:w-3/4 rounded-t-md md:mr-2 order-2 lg:order-1">
      <template v-if="isAuthenticated">
        <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">
          <button
            @click="articleType = 'own'"
            :class="{
              'text-secondary border-b-2 border-secondary':
                articleType === 'own',
            }"
          >
            Your Feed
          </button>
          <span class="mx-4">|</span>
          <button
            @click="articleType = 'global'"
            :class="{
              'text-secondary border-b-2 border-secondary':
                articleType === 'global',
            }"
          >
            Global Feed
          </button>
        </h2>
      </template>
      <template v-else>
        <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">
          Global Feed
        </h2>
      </template>
      <div class="border border-gray-700">
        <template v-if="articleLoading">
          <p class="p-2">Loading...</p>
        </template>
        <template v-else-if="articles.length === 0">
          <p class="p-2">No articles are here!</p>
        </template>
        <template v-else v-for="(article, i) in articles">
          <!-- article -->
          <home-article
            :article="article"
            :key="i"
            :last-item="i + 1 === articles.length"
            @updateArticleFavoriteValue="updateArticleFavoriteValue"
          />
        </template>
      </div>
      <!-- pagination -->
      <pagination-component
        v-if="!articleLoading"
        @paginate="paginate"
        :total="articlesCount"
        :limit="articleParams.limit"
        :offset="articleParams.offset"
      />
    </div>
    <!-- tags -->
    <home-tags
      :article-params="articleParams"
      @fetchArticleWithTag="fetchArticleWithTag"
      @removeSelectedTag="removeSelectedTag"
    />
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import HomeArticle from "@/components/home/HomeArticle";
import HomeTags from "@/components/home/HomeTags";
import PaginationComponent from "@/components/PaginationComponent";

export default {
  name: "HomeView",

  components: { HomeArticle, HomeTags, PaginationComponent },

  data: () => ({
    articleParams: {
      limit: 10,
      offset: 0,
    },
    articles: [],
    articlesCount: 0,
    articleLoading: false,

    articleType: "own",
  }),

  computed: {
    ...mapGetters(["isAuthenticated"]),
  },

  mounted() {
    this.fetchArticles();
  },

  watch: {
    articleType() {
      this.fetchArticles();
    },
  },

  methods: {
    fetchArticles() {
      let url =
        this.articleType === "own" && this.isAuthenticated
          ? "articles/feed"
          : "articles";
      this.articleLoading = true;
      this.axios.get(url, { params: this.articleParams }).then(
        (res) => {
          this.articles = res.data.articles;
          this.articlesCount = res.data.articlesCount;
          this.articleLoading = false;
        },
        (e) => {
          console.log(e);
          this.articleLoading = false;
        }
      );
    },

    updateArticleFavoriteValue(article) {
      let objIndex = this.articles.findIndex((ar) => ar.slug == article.slug);
      this.$set(this.articles[objIndex], "favorited", article.favorited);
      this.$set(
        this.articles[objIndex],
        "favoritesCount",
        article.favoritesCount
      );
    },

    fetchArticleWithTag(tag) {
      this.$set(this.articleParams, "tag", tag);
      this.fetchArticles();
    },

    removeSelectedTag() {
      if (this.articleParams.tag) {
        this.$delete(this.articleParams, "tag");
        this.fetchArticles();
      }
    },

    paginate(page) {
      this.articleParams.offset = page;
      this.fetchArticles();
    },
  },
};
</script>
