<template>
  <div class="w-full lg:w-1/4 rounded-t-md mb-5 lg:mb-0 order-1 lg:order-2">
    <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">Popular Tags</h2>
    <div class="border border-gray-700">
      <template v-if="tagLoading">
        <p class="p-2">Loading...</p>
      </template>
      <template v-else-if="tags.length === 0">
        <p class="p-2">No Tags are here!</p>
      </template>
      <template v-else>
        <div class="flex items-center flex-wrap text-sm m-2 md:m-5">
          <button
            class="rounded-full py-1 px-3 mb-3 border border-gray-700 mx-1 flex flex-wrap items-center"
            :class="{
              'bordr border-secondary bg-secondary':
                articleParams.tag === undefined,
            }"
            @click="removeSelectedTag"
          >
            All tags
          </button>
          <button
            v-for="(tag, i) in tags"
            :key="i"
            class="rounded-full py-1 px-3 mb-3 mr-2 border border-gray-700 mx-1 flex flex-wrap items-center"
            :class="{
              'bordr border-secondary bg-secondary': articleParams.tag === tag,
            }"
            @click="fetchArticleWithTag(tag)"
          >
            {{ tag }}
          </button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeTags",

  props: {
    articleParams: {
      type: Object,
      required: true,
    },
  },

  data: () => ({
    tags: [],
    tagLoading: false,
  }),

  mounted() {
    this.fetchTags();
  },

  methods: {
    fetchTags() {
      this.tagLoading = true;
      this.axios.get("tags").then(
        (res) => {
          this.tags = res.data.tags;
          this.tagLoading = false;
        },
        (e) => {
          console.log(e);
          this.tagLoading = false;
        }
      );
    },

    fetchArticleWithTag(tag) {
      this.$emit("fetchArticleWithTag", tag);
    },

    removeSelectedTag() {
      this.$emit("removeSelectedTag");
    },
  },
};
</script>
