<template>
  <div>
    <article
      :class="{ 'border-b border-gray-700': !lastItem }"
      class="flex flex-col justify-between p-3 m-2 md:m-5"
    >
      <section class="flex items-center justify-between mb-5">
        <div class="flex items-center">
          <img
            :src="article.author.image"
            alt="autho image"
            class="rounded-full w-10 h-10 mr-2"
          />
          <div>
            <p class="text-sm text-bold">{{ article.author.username }}</p>
            <p class="text-sm text-gray-600">
              {{ formatDate(article.createdAt) }}
            </p>
          </div>
        </div>
        <template v-if="isAuthenticated">
          <button
            v-if="article.favorited"
            class="flex items-center justify-center rounded-lg p-1 bg-secondary w-16"
            @click="unFavoriteArticle(article.slug)"
          >
            <mdicon name="heart" size="15" class="mr-1" />
            <p>{{ article.favoritesCount }}</p>
          </button>
          <button
            v-else
            class="flex items-center justify-center rounded-lg p-1 border-2 border-secondary w-16"
            @click="favoriteArticle(article.slug)"
          >
            <mdicon name="heart-outline" size="15" class="mr-1" />
            <p>{{ article.favoritesCount }}</p>
          </button>
        </template>
        <template v-else>
          <router-link
            to="/login"
            class="flex items-center rounded-lg p-1 border-2 border-secondary"
          >
            <mdicon name="heart-outline" size="15" class="mr-1" />
            <span>{{ article.favoritesCount }}</span>
          </router-link>
        </template>
      </section>
      <section class="mb-5">
        <router-link
          :to="{
            name: 'article',
            params: { articleSlug: article.slug },
          }"
        >
          {{ article.title }}
        </router-link>
      </section>
      <section class="text-gray-600 mb-5">
        {{ article.description }}
      </section>
      <section
        class="flex flex-col md:flex-row md:items-center md:justify-between"
      >
        <router-link
          :to="{
            name: 'article',
            params: { articleSlug: article.slug },
          }"
          class="text-gray-600 mb-3 md:mb-0"
          >Read more...
        </router-link>
        <div class="flex flex-wrap items-center text-sm">
          <p
            v-for="(tag, j) in article.tagList"
            :key="j"
            class="rounded-full py-1 px-3 mb-2 md:mb-0 border border-gray-700 flex flex-wrap items-center"
            :class="{ 'mx-1': j > 0 }"
          >
            {{ tag }}
          </p>
        </div>
      </section>
    </article>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import articleFavoriteMixin from "@/mixin/favoriteArticle";
import formatDateMixin from "@/mixin/formatDate";

export default {
  name: "HomeArticle",

  mixins: [articleFavoriteMixin, formatDateMixin],

  props: {
    article: {
      type: Object,
      required: true,
    },
    lastItem: {
      type: Boolean,
      required: true,
    },
  },

  computed: {
    ...mapGetters(["isAuthenticated"]),
  },
};
</script>
