<template>
  <div>
    <nav
      class="w-full flex items-center justify-between py-4 border-b border-gray-700"
    >
      <router-link to="/" class="text-secondary font-bold uppercase">
        yasna challenge
      </router-link>

      <!-- mobile menu -->
      <div class="block md:hidden">
        <button @click="changeMobileMenuStyle(true)">
          <mdicon name="menu" />
        </button>
        <div
          v-if="showMobileMenu"
          class="fixed left-0 top-0 w-full h-screen bg-gray-700 bg-opacity-80 backdrop-blur-md overflow-hidden p-5"
        >
          <div class="flex w-full justify-end mb-10">
            <button @click="changeMobileMenuStyle(false)">
              <mdicon name="close-circle" />
            </button>
          </div>
          <div class="">
            <div v-if="!isAuthenticated" class="flex flex-col">
              <a href="/login" class="flex items-center uppercase mb-5">
                <mdicon name="login" size="15" class="mr-1" />
                <span>login</span>
              </a>
              <a href="/register" class="flex items-center uppercase mb-5">
                <mdicon name="account-plus" size="18" class="mr-1" />
                <span>register</span>
              </a>
            </div>
            <div v-else class="flex flex-col">
              <a
                href="/create-article"
                class="flex items-center uppercase mb-5 mx-3"
              >
                <mdicon name="plus-circle-outline" size="15" class="mr-1" />
                <span>create article</span>
              </a>
              <a
                href="/user-settings"
                class="flex items-center uppercase mb-5 mx-3"
              >
                <mdicon name="cog-outline" size="15" class="mr-1" />
                <span>settings</span>
              </a>
              <button
                class="btn bg-secondary w-32 text-xs ml-3 flex items-center justify-center"
                @click="logout"
              >
                <mdicon name="logout" size="15" class="mr-1" />
                <span>logout</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- header for larg screen -->
      <div class="hidden md:block">
        <div v-if="!isAuthenticated" class="flex items-center text-sm">
          <router-link
            to="/login"
            exact
            exact-active-class="text-secondary font-bold"
            class="flex items-center uppercase"
          >
            <mdicon name="login" size="15" class="mr-1" />
            <span>login</span>
          </router-link>
          <span class="mx-2">|</span>
          <router-link
            to="/register"
            exact
            exact-active-class="text-secondary font-bold"
            class="flex items-center uppercase"
          >
            <mdicon name="account-plus" size="18" class="mr-1" />
            <span>register</span>
          </router-link>
        </div>
        <div v-else class="flex items-center text-sm">
          <router-link
            to="/create-article"
            exact
            exact-active-class="text-secondary font-bold"
            class="flex items-center uppercase mx-3"
          >
            <mdicon name="plus-circle-outline" size="15" class="mr-1" />
            <span>create article</span>
          </router-link>
          <router-link
            to="/user-settings"
            exact
            exact-active-class="text-secondary font-bold"
            class="flex items-center uppercase mx-3"
          >
            <mdicon name="cog-outline" size="15" class="mr-1" />
            <span>settings</span>
          </router-link>
          <button
            class="btn bg-secondary w-32 text-xs ml-3 flex items-center justify-center"
            @click="logout"
          >
            <mdicon name="logout" size="15" class="mr-1" />
            <span>logout</span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "HeaderComponent",

  data: () => ({
    showMobileMenu: false,
  }),

  computed: {
    ...mapGetters(["isAuthenticated"]),
  },

  methods: {
    logout() {
      this.$store.dispatch("logout");
    },
    changeMobileMenuStyle(val) {
      this.showMobileMenu = val;
    },
  },
};
</script>
