<template>
  <div class="flex flex-col items-center w-full justify-center mt-10">
    <div class="flex items-center w-full justify-center text-white mb-8">
      <div class="flex flex-wrap items-center">
        <button
          v-for="i in pageNumber"
          :key="i"
          class="w-10 h-10 mx-1 mb-2 flex items-center justify-center rounded-full border-2 border-secondary hover:bg-secondary"
          :class="{ 'bg-secondary': i - 1 === offset }"
          @click="pagination(i - 1)"
        >
          {{ i }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "PaginationComponent",

  props: {
    total: {
      type: Number,
      required: true,
    },
    limit: {
      type: Number,
      required: true,
    },
    offset: {
      type: Number,
      required: true,
    },
  },

  computed: {
    pageNumber() {
      return Math.ceil(this.total / this.limit);
    },
  },

  methods: {
    pagination(page) {
      this.$emit("paginate", page);
    },
  },
};
</script>
