<template>
  <div id="app" class="lg:container mx-3 lg:mx-auto">
    <header-component />
    <router-view />
  </div>
</template>

<script>
import HeaderComponent from "@/components/HeaderComponent";

export default {
  name: "HomeView",
  components: { HeaderComponent },
};
</script>
