<template>
  <div class="w-full flex items-start justify-center py-5 md:pt-16 md:pb-0">
    <div
      class="w-full md:w-2/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 flex flex-col items-center border border-gray-700 shadow-lg rounded-lg p-8"
    >
      <h1 class="mb-12 font-bold text-3xl uppercase">login</h1>
      <div class="w-full">
        <label>Email *</label>
        <input type="email" class="input" v-model="user.email" />
      </div>
      <div class="w-full">
        <label>Password *</label>
        <input type="password" class="input" v-model="user.password" />
      </div>
      <div class="w-full flex flex-col items-center justify-between mt-8">
        <template>
          <button
            v-if="loginValidation"
            class="w-full btn border-2 border-secondary hover:bg-secondary"
            @click="login"
          >
            login
          </button>
          <button
            v-else
            class="w-full btn border border-gray-700 text-gray-500 cursor-not-allowed"
            disabled
          >
            login
          </button>
        </template>
        <p class="text-gray-400 my-2">or</p>
        <router-link to="/register" class="text-secondary"
          >register</router-link
        >
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginView",

  data: () => ({
    user: {
      email: "",
      password: "",
    },
  }),

  computed: {
    loginValidation() {
      return this.user.email && this.user.password;
    },
  },

  methods: {
    login() {
      this.$toast.info("Logging in...", { duration: 10000 });
      this.axios.post("users/login", { user: this.user }).then(
        (res) => {
          this.$toast.clear();
          this.$store.dispatch("saveToken", {
            access_token: res.data.user.token,
            expires_in: 1800,
          });
          this.$toast.success("You are logged in");
          this.$router.push("/");
        },
        (e) => {
          this.$toast.clear();
          this.$toast.error(e.message);
        }
      );
    },
  },
};
</script>
