<template>
  <div class="w-full flex items-start justify-center py-5 md:pt-16 md:pb-0">
    <div
      class="w-full md:w-2/3 lg:w-1/2 xl:w-1/3 2xl:w-1/4 flex flex-col items-center border border-gray-700 rounded-lg p-8"
    >
      <h1 class="mb-12 font-bold text-3xl uppercase">register</h1>
      <div class="w-full">
        <label>Username *</label>
        <input type="text" class="input" v-model="user.username" />
      </div>
      <div class="w-full">
        <label>Email *</label>
        <input type="email" class="input" v-model="user.email" />
      </div>
      <div class="w-full">
        <label>Password *</label>
        <input type="password" class="input" v-model="user.password" />
      </div>
      <div class="w-full flex flex-col items-center justify-between mt-8">
        <template>
          <button
            v-if="registerValidation"
            class="w-full btn border-2 border-secondary hover:bg-secondary"
            @click="register"
          >
            register
          </button>
          <button
            v-else
            class="w-full btn border border-gray-700 text-gray-500 cursor-not-allowed"
            disabled
          >
            register
          </button>
        </template>
        <p class="text-gray-400 my-2">or</p>
        <router-link to="/login" class="text-secondary">login</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RegisterView",

  data: () => ({
    user: {
      username: "",
      email: "",
      password: "",
    },
  }),

  computed: {
    registerValidation() {
      return this.user.username && this.user.email && this.user.password;
    },
  },

  methods: {
    register() {
      this.$toast.info("Registering...", { duration: 10000 });
      this.axios.post("users", { user: this.user }).then(
        () => {
          this.$toast.clear();
          this.$toast.success("You are registered. You can login now");
          this.$router.push("/login");
        },
        (e) => {
          this.$toast.clear();
          this.$toast.error(e.message);
        }
      );
    },
  },
};
</script>
