<template>
  <div class="w-full rounded-t-md my-5">
    <h2 class="w-full bg-gray-700 font-bold rounded-t-md p-2">Your Settings</h2>
    <div class="border border-gray-700 p-5">
      <template v-if="userLoading">
        <p>Loading...</p>
      </template>
      <template v-else>
        <div class="flex flex-col lg:flex-row items-center w-full mb-3">
          <div class="w-full lg:w-2/5 lg:pr-2 mb-3 lg:mb-0">
            <label>Image</label>
            <input type="text" class="input mt-2" v-model="user.image" />
          </div>
          <div class="w-full lg:w-1/5 lg:pr-2 mb-3 lg:mb-0">
            <label>Username</label>
            <input type="text" class="input mt-2" v-model="user.username" />
          </div>
          <div class="w-full lg:w-1/5 lg:pr-2 mb-3 lg:mb-0">
            <label>Email</label>
            <input type="email" class="input mt-2" v-model="user.email" />
          </div>
          <div class="w-full lg:w-1/5">
            <label>Password</label>
            <input type="password" class="input mt-2" v-model="user.password" />
          </div>
        </div>
        <div class="w-full mb-3">
          <label>Short bio about you</label>
          <textarea
            rows="5"
            class="w-full bg-primary border border-gray-700 rounded-md mt-2 p-2"
            v-model="user.bio"
          />
        </div>
        <div class="flex items-center justify-end w-full">
          <template>
            <button
              v-if="settingsValidation"
              class="btn border-2 border-secondary hover:bg-secondary text-sm w-full md:w-56"
              @click="updateSettings"
            >
              update settings
            </button>
            <button
              v-else
              class="btn border border-gray-700 text-gray-500 cursor-not-allowed text-sm w-full md:w-56"
              disabled
            >
              update settings
            </button>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: "UserSettings",

  data: () => ({
    user: {},
    userLoading: true,
  }),

  mounted() {
    this.fetchUserData();
  },

  computed: {
    settingsValidation() {
      return this.user.username && this.user.email;
    },
  },

  methods: {
    fetchUserData() {
      this.axios.get("user").then(
        (res) => {
          const userData = res.data.user;
          this.user = {
            bio: userData.bio,
            email: userData.email,
            image: userData.image,
            password: "",
            username: userData.username,
          };
          this.userLoading = false;
        },
        (e) => {
          this.$toast.error(e.message);
        }
      );
    },
    updateSettings() {
      this.$toast.info("Updating...", { duration: 10000 });
      this.axios.put("user", { user: this.user }).then(
        (res) => {
          this.$toast.clear();
          this.$store.dispatch("saveToken", {
            access_token: res.data.user.token,
            expires_in: 1800,
          });
          this.$toast.success("Your settings updated");
        },
        (e) => {
          this.$toast.error(e.message);
        }
      );
    },
  },
};
</script>
